header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3a86ff;
    color: #fff;
    padding: 15px 20px;
    margin-bottom: 20px;
}

#greeting { margin-bottom: 10px; }

#greeting, #welcomeMsg {
    text-align: center;
}

#greeting button, #logoutBtn {
    padding: 5px 12px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #ff006e;
    color: #fff;
    font-weight: bold;
}

#greeting button:hover, #logoutBtn:hover {
    background-color: #b3004d;
}
